img {
   object-fit: contain;
   max-width: 3.8rem;
   max-height: 3.8rem;
 }

.good {
   background-color: #b3d568;
   background-image: none;
   color: white;
   border-radius: 2rem;
   border-style: solid;
}

.moderate {
   background-color: #fae255;
   background-image: none;
   color: rgb(73, 78, 44);
}

.unhealthy-1 {
   background-color: #f9a869;
   background-image: none;
   color: rgb(73, 78, 44);
}

.unhealthy-2 {
   background-color: #f37778;
   background-image: none;
   color: rgb(73, 78, 44);
}

.very-unhealthy {
   background-color: #ac81b9;
   background-image: none;
   color: rgb(73, 78, 44);
}

.hazardous {
   background-color: #b47e8b;
   background-image: none;
   color: rgb(73, 78, 44);
}

#description {
   background-color: whitesmoke;
   font-style: oblique;
}